<body>
    <div class="main">
        <div class="homeButton">
            <div class="topButtons">
                <%= link_to("ゲストで遊ぶ","game/gest",{class:"topButton"})%>
                <%= link_to("新規ユーザー登録","/signup",{class:"topButton"})%>
                <%= link_to("ログイン","/login",{class:"topButton"})%>
            </div>
            <div class="bottomButtons">
                <%= link_to("ランキング","rank/top",{class:"bottomButton"})%>
                <%= link_to("マイページ","/myPage",{class:"bottomButton"})%>
            </div>
        </div>
    </div>
</body>
