<body>
    <div class="main">
      <h2>ランキング</h2>
        <div>
            <h3>☆個人おこづかいランキング BEST10</h3>
            <div class = masterbox>
                <div class="box1">
                    <p class="rank"></p>
                    <p class="name">名前</p>
                    <p class="money">おこづかい</p>
                    <p class="star">星座</p>
                    <p class="created_at">更新日</p>
                </div>
                <%ranking = 0%>
                <%lastMoney = 0%>
                <% @topUsers.each.with_index(1) do|user,i|%>
                    <%if i == 1%>
                        <%ranking = 1%>
                        <%lastMoney = user.money%>
                    <%else%>
                        <%if lastMoney != user.money%>
                            <%ranking = ranking + 1%>
                            <%lastMoney = user.money%>
                        <%end%>
                    <%end%>
                    <div class="box2">
                        <p class="rank"><%=ranking %>位</p>
                        <p class="name"><%=user[:name] %></p>
                        <p class="money"><%=user[:money] %></p>
                        <p class="star"><%=user[:star] %></p>
                        <p class="created_at"><%=user[:updated_at].strftime('%Y/%m/%d') %></p>
                    </div>
                <%end%>
            </div>
        </div>
        <div>
        <br>
            <h3>☆星座対抗おこづかいランキング</h3>
            <p>※製作中</p>
        </div>

        <div class="bottomButtons">
            <%= link_to("トップへ戻る","/",{class:"bottomButton"})%>
        </div>
    </div>
</body>
