<body>
    <div class="main">
      <h2>ランキング</h2>
        <div class="rank">
            <h3>個人資産ランキング BEST10</h3>
            <% @users.each do|user|%>
                <div class="box">
                    <p class="name"><%=user[:name] %></p>
                    <p class="money"><%=user[:money] %></p>
                    <p class="star"><%=user[:star] %></p>
                    <p class="created_at"><%=user[:updated_at].strftime('%Y/%m/%d') %></p>
                </div>
            <%end%>
        </div>
        <div class="rank">
            <h3>星座資産ランキング</h3>
            <% @users.each do|user|%>
                <div class="box">
                    <p class="name"><%=user[:name] %></p>
                    <p class="money"><%=user[:money] %></p>
                    <p class="star"><%=user[:star] %></p>
                    <p class="created_at"><%=user[:updated_at].strftime('%Y/%m/%d') %></p>
                </div>
            <%end%>
        </div>

        <div class="bottomButtons">
            <%= link_to("トップへ戻る","/",{class:"bottomButton"})%>
        </div>
    </div>
</body>
