<!DOCTYPE html>
<html>
  <head>
    <title>Superblackjack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="header-logo">
      <%= link_to("♠ブラックジャック♥","/")%>
    </div>
    <nav class="header-right">
      <% if @current_user %>
        <ul class="loginUser"> 
          <li>ユーザー：<%= @current_user.name %></li>
          <li>おこづかい記録：<%= @current_user.money %></li>
        </ul>
        <ul class="logbutton">
          <li><%= link_to("ログアウト","/logout",{method: :post}) %></li>
        </ul>
      <%else%>
        <ul class="logbutton">
          <li><%= link_to("ログイン","/login") %></li>
        </ul>
      <%end%>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
